.fixed_alert{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 200px;
}
.input_error{
    border: 1px solid red;
}
.city_thumb{
    margin-bottom: 10px;
    margin-top: 10px;
}
.comment_date{
    font-size: 10px;
    font-style: italic;
}
.margin_form{
    margin-top: 20px;
    margin-bottom: 20px;
}