#croppic{
    width: 252px;  /* MANDATORY */
    height: 297px; /* MANDATORY */
    position: relative;  /* MANDATORY */

    margin: 17px auto 50px auto;
    border: 3px  solid #EEE;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    border-radius: 2px;
    background-image: url(../img/croppic/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3BA0EC;
    /*box-shadow: 8px 8px 0px rgba(0,0,0,0.1);*/
}

.image-preview-input-crop {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input-crop input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-crop-title {
    margin-left:2px;
}

/* DO NOT CHANGE FROM HERE ( unless u know what u are doing) */
.cropImgWrapper{
    cursor: -webkit-grab;
    cursor: grab;
}
.cropImgWrapper:active{
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.cropImgUpload{
    z-index:2;
    position:absolute;
    height:28px;
    display:block;
    top: -30px;
    right: -2px;
    font-family:sans-serif;
    width:20px;
    height:20px;
    text-align:center;
    line-height:20px;
    color:#FFF;
}

.croppic_imgUploadForm, .cropControlsUpload {
    top: 0px !important;
}

.float-ok-status-holder {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.float-ok-status {
    /* position: absolute; */
    font-size: 109px;
    /* margin: 79.5px; */
    /* opacity: 0.85; */
    /* margin: auto; */
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 25%;
}

.float-error-status {
    position: absolute;
    text-align: center;
    font-size: 18px;
    top: 11px;
}


.float-ok-status-text {
    position: absolute;
    /* top: -22px; */
    left: 0%;
    z-index: 1;
    text-align: center;
    width: 100%;
}

.cropControls{
    height: 50px;
    z-index: 17;
    font-family: sans-serif;
    background-color: rgba(0,0,0,0.35); 
}

.cropControls i{
    display: block;
    float: left;
    cursor: pointer;
    /* width: 63px; */
    /* height: 63px; */
    text-align: center;
    color: #FFF;
    font-size: 28.7px;
    padding: 9px;
    /* font-weight: bold; */
}

.cropControls i:hover{ 
    color: #339BEB !important;
}

.cropControlsCrop .cropControlCrop, .cropControlsCrop .cropControlReset {
    position: absolute;
    color: transparent;
    z-index: -1;
}

#croppicModal{
    position:fixed;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    display:block;
    background:rgba(0,0,0,0.8);
    z-index: 10000;
}

/* Prebaciti u style ili gde vec treba */
.error_holder {
    /* z-index: 3; */
    /* position: fixed; */
    /* width: 100%; */
    /* top: 125px; */
    /* right: 0px; */
    font-size: small;
    float: right;
}

.crop_icon_bg {
    background-color: #333333;
    padding: 4px 4px 7px 4px;
}

@-moz-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#FFF;
        -moz-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#FFF;
        -moz-transform: translateY(-21px);
    }

}

@-webkit-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#FFF;
        -webkit-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#FFF;
        -webkit-transform: translateY(-21px);
    }

}

@-ms-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#FFF;
        -ms-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#FFF;
        -ms-transform: translateY(-21px);
    }

}

@-o-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#FFF;
        -o-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#FFF;
        -o-transform: translateY(-21px);
    }

}

@keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#FFF;
        transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#FFF;
        transform: translateY(-21px);
    }

}

